body {
    background-color: rgb(218,182,132);
    color: black;
    padding: 0;
    margin: 0;
}

@font-face {
    font-family: 'Poppins';
    src: url('./assets/fonts/poppins/Poppins-Regular.ttf') format('opentype');
}

@font-face {
    font-family: 'Araboto';
    src: url('./assets/fonts/araboto/Araboto\ Normal\ 400.ttf') format('opentype');
}

header {
    display: flex;
    padding: 10px 10%;
    align-items: center;
    justify-content: space-between;
    box-shadow: 0px 4px 4px rgb(0, 0, 0, 0.25);
}

header div {
    display: flex;
    align-items: center;
    font-size: 12px;
}

header h1 {
    margin-top: 5px;
    margin-left: 30px;
    font-family: 'araboto';
    font-weight: normal;
    text-transform: uppercase;
}

.logo {
    width: 16%;
    margin: 10px 0 10px 0;
}

#icon {
    width: 8%;
}

.Accueil {
    display: flex;
    align-items: center;
    justify-content: flex-end
}

nav a {
    text-decoration: none;
    color: black;
    margin-right: 15px;
    font-family: 'poppins';
}

.hero {
    display: flex;
    padding: 48px 8%;
    margin-top: 25px;
}

.hero img {
    width: 100%;
}

h1 {
    font-family: 'araboto';
    text-transform: uppercase;
    margin: 0;
}

p {
    font-family: 'poppins';
    font-size: 18px;
}

.info {
    width: 80%;
    padding-left: 30px;
}

.info p {
    width: 100%;
    text-align: justify;
}

button {
    border: 1px solid black; 
    background-color: rgb(218,182,132);
    padding: 10px 30px;
    color: black;
    font-family:'poppins';
    font-size: 18px;
    text-transform: uppercase;
    cursor: pointer;
}

@media (max-width: 1321px) {
    .hero {
        flex-direction: column;
        align-items: center;
    }
    .hero .luffy-container {
        text-align: center;
    }
    .hero .luffy {
        width: 70%;
    }
    .hero h1 {
        margin-top: 2%;
    }

    .hero .info {
        padding: 0;
        width: 80%;
        display: flex; 
        flex-direction: column;
        align-items: center;
    }
}

.articles {
    margin-top: 25px;
}

.article {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 22%;
}

.img-container {
    display: flex;
    justify-content: center;
}

.img-container img {
    width: 85%;
}

.article h2, .article p {
    margin: 5px;
}

.article p {
    width: 98%;
    text-align: center;
    font-family: 'poppins';
    margin-top: -3px;
}

.row-one,.row-two {
    margin-bottom: 15px;
}

.row-two {
    margin-bottom: 40px;

}

h2 {
    font-family: 'araboto';
}

.row-one, .row-two, .row-three {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    justify-content: space-evenly
}

.featured {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin-top: 25px;
    padding: 50px 4%;

}

.featured-img img {
    width: 45%;
    margin: 0 10px;
}

.featured p {
    width: 70%;
    text-align: justify;

}

.featured p, .featured h2 {
    margin: 5px 0;
}

.featured-btn button {
    margin: 10px 0 25px;
    padding: 10px 75px;
}

footer {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    text-align: center;
    align-items: center;
    padding: 10px 0;
    box-shadow: 0px -4px 4px rgb(0, 0, 0, 0.25);
}

footer .équipage {
    display: flex;
}

footer #logo {
    width: 75px;
    margin-right: 28px;
}


.link img {
    width: 30px;
}

